Importing the required libs

In [99]:
from numpy import mean
from numpy import std
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import Perceptron

In [100]:

data = "https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data"

names = ["word_freq_make", 
         "word_freq_address", 
         "word_freq_all", 
         "word_freq_3d", 
         "word_freq_our", 
         "word_freq_over", 
         "word_freq_remove", 
         "word_freq_internet", 
         "word_freq_order",      
          "word_freq_mail",       
          "word_freq_receive",    
          "word_freq_will",       
          "word_freq_people",     
          "word_freq_report",     
          'word_freq_addresses',  
          "word_freq_free",       
          "word_freq_business",   
          "word_freq_email",      
          "word_freq_you",        
          "word_freq_credit",     
          "word_freq_your",       
          "word_freq_font",       
          "word_freq_000",        
          "word_freq_money",      
          "word_freq_hp",         
          "word_freq_hpl",        
          "word_freq_george",     
          "word_freq_650",        
          'word_freq_lab',        
          'word_freq_labs',       
          "word_freq_telnet",     
          'word_freq_857',        
          "word_freq_data",       
          "word_freq_415",        
          "word_freq_85",         
          "word_freq_technology", 
          'word_freq_1999',       
          'word_freq_parts',      
          "word_freq_pm",         
          "word_freq_direct",     
          "word_freq_cs",         
          "word_freq_meeting",    
          "word_freq_original",   
          'word_freq_project',    
          "word_freq_re",         
          "word_freq_edu",        
          "word_freq_table",      
          "word_freq_conference", 
          "char_freq_;",          
          "char_freq_(",          
          "char_freq_[",          
          "char_freq_!",          
          "char_freq_$",          
          'char_freq_#',          
          "capital_run_length_average",
          "capital_run_length_longest",
          "capital_run_length_total", 
          "outcome"]

In [101]:
dataset = pd.read_csv(data,  names = names)
dataset.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,outcome
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

Dividing into X and y variables

In [102]:
x = dataset.drop('outcome', axis =1)
x.shape

(4601, 57)

In [103]:
y = dataset['outcome']
y.shape

(4601,)

Scaling the data

In [104]:
from sklearn.preprocessing import StandardScaler
scalear = StandardScaler()
x = scalear.fit_transform(x)

Instancing the model

In [105]:
model = Perceptron()

In [106]:
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [107]:
scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)

Current accuracy

In [108]:
print('Mean Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Mean Accuracy: 0.889 (0.020)

Fitting the data

In [109]:
model.fit(x, y)

Perceptron()

testing with new data

In [110]:
raw_data  = x[4] #change the feature index for testing new data eg: 4 and 4599 for spam and not spam
raw_data

array([-0.34243371, -0.16507191, -0.55676058, -0.04689958,  0.4725726 ,
       -0.35026618,  0.50023713,  1.3084016 ,  0.78946161,  0.60585655,
        1.24142825, -0.26891888,  0.71783456, -0.17492717, -0.19011441,
        0.07406053, -0.32113541, -0.34787592,  0.8550166 , -0.16789311,
       -0.41623181, -0.11817151, -0.2902092 , -0.21299439, -0.32881467,
       -0.29923993, -0.22789481, -0.23183016, -0.16673145, -0.22523952,
       -0.16053931, -0.14321202, -0.17492026, -0.14521515, -0.19806739,
       -0.24213022, -0.32345561, -0.05983624, -0.18091134, -0.18530385,
       -0.12090468, -0.17259996, -0.20599311, -0.12734332, -0.29777621,
       -0.19738748, -0.0713879 , -0.11154623, -0.15845336, -0.01490951,
       -0.15519768, -0.16438653, -0.30835494, -0.1030484 , -0.05215013,
       -0.06246616, -0.15222173])

In [111]:
preds = model.predict([raw_data])

In [112]:
if preds == 1:
  print(f'Predicted Class: %d'%preds,", it is a spam")
else:
    print(f'Predicted Class: %d'%preds,", it is not a spam")

Predicted Class: 1 , it is a spam